.bl-1{
    .row{
        margin-bottom: 10px;
        ul{
            padding-top: 10px;
            li{
                float: left;
                div{
                    button{
                        width: 100%;
                        padding: 0;
                        font-size: 12px;
                        height: 20px;
                        padding-left: 5px;
                        text-align: left;
                        span{
                            float: right;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    #carousel-example-generic{
        padding-top: 10px;
    }
    .bl-1btm{
        height: 30px;
        background-color: #01B180;
        ul{
            li{
                color: #fff;
                line-height: 30px;
                padding: 0;
                float: left;
                text-align: center;
            }
        }
        .row{
            img{
                border: 1px solid #ccc;
                margin-top: 10px;
            }
        }
    }
}
