.bl-2{
    .row{
        font-size: 16px;
        background-color: #01B180;
        height: 27px;
        line-height: 27px;
        color: #fff;
    }
    ul{
        font-size: 16px;
        border: 1px solid #01B180;
        border-left: none;
        border-right: none;
        margin-top: 5px;
        li{
            width: 25%;
            border-right: 1px solid #ccc;
            float: left;
            margin: 20px 0;
            height: 77px;
            line-height: 77px;
            text-align: center;
            p{
                height: 20px;
                line-height: 20px;
            }
            span{
                line-height: 0;
                padding: 8px 12px;
                margin-right: 10px;
                border: 1px solid #01B180;
                color: #01B180;
            }
        }
        li:nth-child(4){
            border: none;
        }
        .bl-10{
            line-height: normal;
            .span{
//              padding: 0;
                font-size: 16px;
                margin: 0 5px;
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
            .span:before{
                position: relative;
                left: -8px;
                top:3px
            }
            input{
                margin-bottom: 5px;
                margin-top: 20px;
                width: 60px;
                height: 25px;
                border: 1px solid #01B180;
            }
            p{
                color: #01B180;
            }
            .spc{
                line-height: normal;
                display: inline-block;
                width: 16px;
                height: 16px;
                padding: 0;
                border: none;
                margin-top: 5px;
                color: #f00;
            }
        }
    }
    ul:nth-child(2){
        border-top: none;
    }
}